body {
    text-align: center;
}

.navbar {
    background: #111;
    padding: 15px;
}

.navbar a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-size: 18px;

}

.navbar a:hover {
    color: #00aaff;
}


.affiche {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.affiche-taille {
    width: 500px;
    position: relative;
    top: 40px;
    margin-bottom: 40px;   
    text-align: center;
}

.affiche-taille a {
    display: block;
    margin-top: 10px;      
}

#charger-plus {
    display: block;
    margin: 20px auto;
}


#resultat div{
background-color: white;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
border-radius: 8px;
padding: 10px;
margin: 20px 20px 20px 0;
}