body {
    text-align: center;
}

.navbar {
    background: #111;
    padding: 15px;
}

.navbar a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-size: 18px;

}

.navbar a:hover {
    color: #00aaff;
}
